#question-page {
    display: none;
}

.quiz-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.vhs{
    font-size: 1.5vw;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.cdt{
    font-size: 1.5vw;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.title{
    font-size: 3vw;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.test-info{
    font-size: 1.5vw;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

button {
    background-color: blue;
    border: none;
    padding: 10px 20px;
    font-size: 1vw;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}

.start-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.for-cssq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#question{
    text-align: center;
    font-size: 1.5vw;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#greeting{
    font-size: 2vw;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#your-score{
    font-size: 1.5vw;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.enterI{
    font-size: 1.5vw;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.for-css-score{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scoreboard-buttons{
    text-align: center;
}

.score-title{
    font-size: 2vw;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#scores{
    font-size: 1.5vw;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.btn-choices {
    display: block;
    margin: 5px 0;
}

#end-page{
    display: none;
}

#textarea{
    display: flex;
}

#scoreboard{
    display: none;
}